*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #1C0A00;
}

p{
    color: #1C0A00;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.column-2{
    flex-basis: 50%;
    min-width: 300px;
}

.column-1 img{
    max-width: 100%;
    padding: 50px 0;
}

.column-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.column-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
}

.btn{
    display: inline-block;
    background: #603601;
    color:#fff;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}

.btn:hover{
    background: #CC9544; 
}

.header{
    background: radial-gradient(#fff, #ECB176);
}

.header .row{
    margin-top: 80px;
}

.categories{
    margin: 70px 0;
}

.column-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.column-3 img{
    width: 100%;
}

.column-3:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.column-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.10s;
}

.column-4 img{
    width:100%;   
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #1C0A00;
}

.title::after{
    content: '';
    background: #CC9544;
    width: 80px;
    height: 5px;
    border-radius: 0px;
    position: absolute;
    bottom: 0;
    left: 46.2%;
    transform: translateX(-50);
}

h4{
    color: #555;
    font-weight: normal;
}

.column-4 p{
    font-size: 14px;
}

.rating{
    color: #603601;
}

.column-4:hover{
    transform: scale(1.1);
    transition: .5s ease;
}

/*------offer-----*/

.offer{
    background: radial-gradient(#fff, #ECB176);
    margin-top: 80px;
    padding: 30px 0;
}

.column-2 .offer-img{
    padding: 50px;
}

.small{
    color: #555;
}


/*------testimonials-------*/

.testimonial{
    padding-top: 100px
}

.testimonial .column-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}

.testimonial .column-3 img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .column-3:hover{
    transform: translateY(-10px);
}

.quotes{
    font-size: 34px;
    color: #603601;
}

.column-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial .column-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

/*-------brands-------*/
.brands{
    margin: 100px auto;
}

.column-5{
    width: 160px;
}

.column-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.column-5 img:hover{
    filter: grayscale(0);
}

/*--------footer---*/

.footer{
    background:  #1C0A00;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 60px;
    margin-bottom: -100px;
}

.footer-column-2 img{
    -webkit-filter: invert(100%);
    filter: invert(100%); 
    width: 180px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #8a8a8a;
    margin-bottom: 20px;
}

.footer-column-1, .footer-column-2, .footer-column-3, .footer-column-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-column-1{
    flex-basis: 30%;
}

.footer-column-2{
    flex: 1;
    text-align: center;
}

.footer-column-3, .footer-column-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/*---media query for menu----*/

@media only screen and (max-width: 800px) {

    nav ul{
        position: absolute;
        top: 110px;
        left: 0;
        background: #1C0A00;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/*---media query for less than 600 screen size----*/
@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .column-2, .column-3, .column-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .column-2{
        padding: 20px 0;
    }
    .single-product h1{
        padding: 26px;
        line-height: 50px;
    }
    .cart-info p{
        display: none;
    }
    .logo{
        margin-left:-25px;
    }
}
/*------all products page----*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;

}

select{
    border: 1px solid #1C0A00;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display:inline-block;
    border: 1px solid #1C0A00;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: #603601;
    color: #fff;
}

/*---single-product---*/

.single-product{
    margin-top: 80px;
}

.single-product .column-2 img{
    padding: 0;
}

.single-product .column-2{
    padding: 20px;  
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #1C0A00;
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: #1C0A00;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-column{
    flex-basis: 24%;
    cursor: pointer;
}

/*---cart items---*/

.cart-page{
    margin:80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #603601;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: red;
    font-size: 12px;
}

td img{
    width: 130px;
    height: 160px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #603601;
    width: 100%;
    max-width: 350px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.btn-2{
    display: inline-block;
    background: #cc9544;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    margin-top: -30px;
    transition: background 0.5s;
}

.btn-2:hover{
    background: #603601;
}
